<!DOCTYPE html>
{% load static %}
<html>
<head>
  
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
  <meta name="keywords" content="CEMP, Clean Energy Materials Platform, high-throughput computation, machine learning, polymer database,
   ionic liquids, crystals, quantum chemistry, molecular dynamics, energy materials,
    高通量计算, 材料数据库, 人工智能模型, 聚合物, 离子液体, 晶体, 电池材料, 清洁能源材料" />

  <meta name="description" content="CEMP (Clean Energy Materials Platform) 是一个开放获取的清洁能源材料平台，集成高通量计算、
  分子动力学模拟、量子化学计算、多尺度机器学习模型和大规模数据库。平台覆盖小分子、聚合物、离子液体和晶体四大类材料，支持自动化计算工作流、性质预测与可视化，
  为快速筛选、结构-性能关系分析和多目标优化提供数字化生态系统。CEMP aims to accelerate clean energy materials discovery by
   unifying high-throughput online calculation, FAIR-compliant multi-source databases, and robust AI models." />
   
  <meta name="author" content="Wang Jifeng, Ju Jiazhe, Wang Ying - Fudan University" />
  <title>CEMP: Clean Energy Materials Platform | 在线材料计算平台</title>
  
  
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  
  

  
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
  
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  
  
  
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'battery_manage_system/bootstrap_501.css'%}"/>
  <link rel="stylesheet" href="{% static 'battery_manage_system/style_fu.css'%}"/>
  
  
  <script id="MathJax-script" async src="/static/MathJax-master/es5/tex-mml-chtml.js"></script>
  
  
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  
  
  <script type="text/javascript" language="javascript" src="{% static 'jsmol/jsme/jsme/jsme.nocache.js' %}"></script>
  <script type="text/javascript" src="{% static 'jsmol/JSmol.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'jsmol/js/JSmolJME.js' %}"></script>
  
  
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>
  <style>
    #navbarSupportedContent {
      background-color: #343434;
    }
    #navbarSupportedContent .nav-link:hover {
    color: orange;
    }
    #main-navbar {
    z-index: 1020;   
    }
  </style>
  
  {% block head %} {% endblock head %}
</head>

<body>
  
  <div class="hero_area">
  <header class="header_section">
    <div class="container">
      <nav id="main-navbar" class="navbar navbar-expand-lg custom_nav-container pt-3">
        <a class="navbar-brand" href="">
          <img src="{% static 'images/dlogo.png' %}" alt=""/><span>
            CLEAN ENERGY MATERIALS
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav ms-auto justify-content-end">
            <ul class="navbar-nav">
              
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'autocompute:index' %}">Autocompute</a>
              </li>
              <li class="nav-item active">
                
                <a class="nav-link" href="/ionic_liquid/database">
                  Ionic Liquids
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polymer:display' %}"> Polymers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'crystals:crystal_display' %}"> Crystals </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'bms:battery_manage_system' %}">Battery Manage System</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:query' %}">Query</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'tickets:list' %}">Tickets</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:homepage' %}">Home</a>
              </li>

              {% if show_admin %}
              <li class="nav-item">
                <a class="nav-link" href="/admin/">Admin</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

      </nav>
    
  </header>
  </div>
  

  {% block content %}
  {% endblock content %}

  
{% block script %}{% endblock script %}
  
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2022 All Rights Reserved By
      <a href="https://ywangpolymer.fudan.edu.cn/_upload/tpl/12/df/4831/template4831/index.html">Ying Wang Group</a>
    </p>
  </section>
  
</body>
</html>
