__pycache__/
*.py[cod]
*.log
*.sqlite3*
*.db*
.env
.venv
venv/
media/
logs/
cache/
staticfiles/
node_modules/
dist/
dist.backup*/
.ipynb_checkpoints/
.DS_Store
*.chk
*.out
*.gbw
*.fchk
*.fch
*.molden*
*.xtc
*.trr
*.gro
*.top
*.tpr
*.xvg
*.ndx
*.pdb
*.mol2
*.cub
*.zip
*.npy
*.pkl
*.pt
*.pth
