django==4.2.3
djangorestframework
django-cors-headers
django-cron
cryptography
pandas==1.5.3
pymongo
openpyxl
numpy
rdkit==2023.3.2
cairosvg==2.7.0
xgboost==2.0.3
beautifulsoup4
scikit-learn
ipython
matplotlib
more-itertools
seaborn
torch
torch-geometric
mp-api
