<!DOCTYPE html>
{% load static %}
<html>
<head>
  
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="Jifeng Wang" />
 

  
  
  
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'battery_manage_system/bootstrap_501.css'%}"/>
  <link rel="stylesheet" href="{% static 'battery_manage_system/style_fu.css'%}"/>

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

  
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>
  <style>
    #navbarSupportedContent {
      background-color: #343434;
    }
    #navbarSupportedContent .nav-link:hover {
    color: orange;
  }
  </style>
  
  {% block head %} {% endblock head %}
</head>

<body>
  
  <div class="hero_area">
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
        <a class="navbar-brand" href="">
          <img src="{% static 'images/dlogo.png' %}" alt=""/><span>
            Contributor
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav ms-auto justify-content-end">
            <ul class="navbar-nav">
              {% block navbar %} {% endblock navbar %}
            </ul>
          </div>
        </div>
      </div>

      </nav>
    
  </header>
  </div>
  

  {% block content %}
  {% endblock content %}

  
{% block script %}{% endblock script %}
  
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2022 All Rights Reserved By
      <a href="https://ywangpolymer.fudan.edu.cn/_upload/tpl/12/df/4831/template4831/index.html">Ying Wang Group</a>
    </p>
  </section>
  
</body>
</html>